{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Catalogo de productos{% endblock %}
{% block body %}
    <table id="sample-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Detalle</th>
                <th>Familia</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlProducto in ctlProductos %}
            <tr>
                <td>{{ ctlProducto.nombreProducto }}</td>
                <td>{{ ctlProducto.detalleProducto }}</td>
                <td></td>
                <td>
                 <a href="{{ path('producto_show', { 'id': ctlProducto.id }) }}">Ver <i class="icon-show bigger-120"></i></a>
                 <a href="{{ path('producto_edit', { 'id': ctlProducto.id }) }}">Editar <i class="icon-edit bigger-120"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a href="{{ path('producto_new') }}">Registrar nuevo producto</a>
{% endblock %}
{% block footer_js %}<script type="text/javascript">$(function(){ var oTable2 = $('#sample-table').dataTable(); })</script>{% endblock %}
