{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Unidad logistica {% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombre de unidad</th>
                <td>{{ ctlProducto.nombreProducto }}</td>
            </tr>
            <tr>
                <th>Detalleproducto</th>
                <td>{{ ctlProducto.detalleProducto }}</td>
            </tr>
        </tbody>
    </table>
<a href="{{ path('producto_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('producto_edit', { 'id': ctlProducto.id }) }}" class="btn btn-primary">Editar</a>

{{ form_start(delete_form) }}<input type="submit" value="Eliminar" class="btn btn-xs btn-danger" />{{ form_end(delete_form) }}
{% endblock %}
