
  <div class="navbar-inner">
    <div class="container-fluid">
      <a href="{{ path('homepage') }}" class="brand">
        <small>
        <img src="{{ asset('assets/') }}img/logo.png" height="20" width="95" alt="" />
          Sistema de Administración	de Catálogos maestros ({{ nombre }})
        </small>
      </a><!--/.brand-->
      {% if app.user %}
      <ul class="nav ace-nav pull-right">
      {% set user = { username: app.session.get('username'), id: app.session.get('id'), correo: app.session.get('username'), nombre: app.session.get('name') } %}
      {% if user is defined %}
         {% if is_granted('ROLE_ADMIN') %}
         <li class="grey">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <i class="icon-shield"></i><i class="icon-unlock"></i> Administracion y seguridad</a>
          <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
           <li class="nav-header"><i class="icon-ok"></i>configuración de seguridad</li>
           <li><a href="{{ path('admin_roles_index') }}"><div class="clearfix"><span class="pull-left">Roles de usuaria</span></div></a></li>
           <li><a href="{{ path('admin_users_index') }}"><div class="clearfix"><span class="pull-left">Usuarias del sistema</span></div></a></li>
           <li><a href="{{ path('acceso_index') }}"><div class="clearfix"><span class="pull-left">Accesos a enlaces (url)</span></div></a></li>
           <li><a href="{{ path('maestro_core_ayuda') }}#administradora"><i class="icon-medkit"></i>Ayuda en linea</a></li>
          </ul>
         </li>
         {% endif %}
        <li class="light-blue">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <img class="nav-user-photo" src="{{ asset('assets/') }}avatars/user.jpg" alt="Jason's Photo" />
            <span class="user-info">
              <small>Bienvenido,</small>{% if app.user %}{{ app.user.username }} {% else %} Invitado{% endif %}</span>
            <i class="icon-caret-down"></i>
          </a>
          <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
            <li><a href="{{ path('maestro_core_ayuda') }}"> <i class="icon-medkit"></i> Ayuda </a></li>
            <li> <a href="{{ path('fos_user_profile_edit') }}"> <i class="icon-user"></i> Perfil </a></li>
            <li class="divider"></li>
            <li> <a href="{{ path('fos_user_security_logout') }}"> <i class="icon-off"></i> Salir del sistema.</a></li>
          </ul>
        </li>
      {% else %}
      {% endif %}
      </ul><!--/.ace-nav-->
      {% else %}
        <ul class="nav ace-nav pull-right">
         <li class="grey"><a href="{{ path('maestro_core_login') }}"> <i class="icon-off"></i> Entrar al sistema.</a></li>
        </ul>
      {% endif %}<!--/get role-->
    </div><!--/.container-fluid-->
  </div><!--/.navbar-inner-->
