{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlrols list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrerol</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlRol in ctlRols %}
            <tr>
                <td><a href="{{ path('admin_roles_show', { 'id': ctlRol.id }) }}">{{ ctlRol.id }}</a></td>
                <td>{{ ctlRol.nombreRol }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_roles_show', { 'id': ctlRol.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_roles_edit', { 'id': ctlRol.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_roles_new') }}">Create a new ctlRol</a>
        </li>
    </ul>
{% endblock %}
