{% extends 'base.html.twig' %}
{% block titulo %}Rol [ <b>{{ ctlRol.nombreRol }}</b> ]{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">

    <table>
        <tbody>
            <tr>
                <th>Nombre rol</th>
                <td>{{ ctlRol.nombreRol }}</td>
            </tr>
        </tbody>
    </table>  
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('admin_roles_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
<a href="{{ path('admin_roles_edit', { 'id': ctlRol.id }) }}"><button class="btn btn-primary">Editar</button></a>
{{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
{% endblock %}
