<!DOCTYPE html>
<html lang="es_ES">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon.png') }}">
    <title>{% block title %}{% endblock %} | Sistema de Administración	de Catálogos maestros :: Maestros</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/') }}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{ asset('assets/') }}plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('assets/') }}css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('assets/') }}css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ asset('assets/') }}css/colors/megna-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    {% block stylesheets %}{% endblock %}
<![endif]-->
    {% block js_head %}{% endblock %}
    {% block css_head %}{% endblock %}
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
			{% include 'MinsalCoreBundle::Layout/head.html.twig' %}
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Opciones</span></h3> </div>
                <ul class="nav" id="side-menu">
                    {% include 'MinsalCoreBundle::Layout/menu.html.twig' %}
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">{% block titulo %}{% endblock %} </h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
							{% include 'MinsalCoreBundle::Layout/breadcrumb.html.twig' %}
							<li class="">{% block breadcrumb %}{% endblock %}</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
					{% block body %}
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Blank Starter page</h3> </div>
                    </div>
					{% endblock %}
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> Ministerio de Salud, Republica de El Salvador, C. A. - <a title="Política de Seguridad y Privacidad del MINSAL - El Salvador" href="http://www.salud.gob.sv/?p=2847">Política de Seguridad y Privacidad</a> </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->
    {% include 'MinsalCoreBundle::Layout/footer.html.twig' %}
    {% block footer_js %}{% endblock %}
</body>

</html>
