{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Catalogo de Unidades de Medida{% endblock %}
{% block body %}
    <table id="sample-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Detalle</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlUnidadMedida in ctlUnidadMedidas %}
            <tr>
                <td>{{ ctlUnidadMedida.nombreUnidad }}</td>
                <td>{{ ctlUnidadMedida.detalleUnidadMedida }}</td>
                <td>
                 <a href="{{ path('unidad_medida_show', { 'id': ctlUnidadMedida.id }) }}">Ver <i class="icon-show bigger-120"></i></a>
                 <a href="{{ path('unidad_medida_edit', { 'id': ctlUnidadMedida.id }) }}">Editar <i class="icon-edit bigger-120"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('unidad_medida_new') }}" class="btn btn-primary">Agregar Nueva Unidad de Medida</a>
{% endblock %}
{% block footer_js %}<script type="text/javascript">$(function(){ var oTable2 = $('#sample-table').dataTable(); })</script>{% endblock %}
