{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Unidad de medida{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombre de la unidadad</th>
                <td>{{ ctlUnidadMedida.nombreUnidad }}</td>
            </tr>
			<tr>
				<th>Descipción</th>
                <td>{{ ctlUnidadMedida.detalleUnidadMedida }}</td>
            </tr>
            <tr>
                <th>Unidades contenidas</th>
                <td>{{ ctlUnidadMedida.unidadesUnidad }}</td>
            </tr>
    </table>

<a href="{{ path('unidad_medida_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('unidad_medida_edit', { 'id': ctlUnidadMedida.id }) }}" class="btn btn-primary">Editar</a>

{{ form_start(delete_form) }}<input type="submit" value="Eliminar" class="btn btn-xs btn-danger" />{{ form_end(delete_form) }}
{% endblock %}
