{% extends 'base.html.twig' %}
{% block title %}Editar Usuario{% endblock %}
{% block body %}
<div class="row-fluid">
 <div class="span12">
  <div class="widget-box">
   <div class="widget-header widget-header-flat"><h4>Opciones generales</h4></div>
   <div class="widget-body">
    <div class="widget-main">
     <div class="row-fluid">
       {{ form_start(edit_form) }}
		<div style="display: none;">{{ form_widget(edit_form.roles) }}</div>
        {{ form_widget(edit_form) }}
        <input type="submit" value="Actualizar" class="btn btn-primary" />
       {{ form_end(edit_form) }}
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
    
    <a href="{{ path('admin_users_index') }}" class="btn">Regresar a listado</a>
{% endblock %}
