{% extends 'base.html.twig' %}
{% block title %}Listado de Usuarios{% endblock %}
{% block body %}
    <table id="sample-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Establecimiento</th>
                <th>Email</th>
                <th>Habilitado</th>
                <th>Ingreso</th>
                <th>roles</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for fosUser in fosUsers %}
            <tr>
                <td><a href="{{ path('admin_users_show', { 'id': fosUser.id }) }}">{{ fosUser.usernameCanonical }}</a></td>
                <td><a href="{{ path('admin_users_show', { 'id': fosUser.id }) }}">{{ fosUser.emailCanonical }}</a></td>
                <td>{% if fosUser.enabled %}Si{% else %}No{% endif %}</td>
                <td>{% if fosUser.lastLogin %}{{ fosUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                  <a href="{{ path('admin_users_show', { 'id': fosUser.id }) }}">Ver <i class="icon-show bigger-120"></i></a>
                  <a href="{{ path('admin_users_edit', { 'id': fosUser.id }) }}">Editar <i class="icon-edit bigger-120"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('acceso_new') }}" class="btn btn-primary">Agregar acceso</a>
{% endblock %}
{% block footer_js %}<script type="text/javascript">$(function(){ var oTable2 = $('#sample-table').dataTable(); })</script>{% endblock %}
