{% extends 'base.html.twig' %}
{% block titulo %}Catalogo de personas registradas en el sistema{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
  <div class="table-responsive">
   <table id="tabla" class="display nowrap" cellspacing="0" width="100%">
    <thead>
     <tr><th>Nombre</th><th>Username</th><th>Correo</th><th>Roles</th><th>Habilitado</th><th>Ultimo acceso</th></tr>
    </thead>
    <tfoot>
     <tr><th>Nombre</th><th>Username</th><th>Correo</th><th>Roles</th><th>Habilitado</th><th>Ultimo acceso</th></tr>
    </tfoot>
    <tbody>
        {% for fosUser in fosUsers %}
            <tr>
                <td><a href="{{ path('admin_personas_show', { 'id': fosUser.id }) }}">{{ fosUser.username }}</a></td>
                <td><a href="{{ path('admin_personas_show', { 'id': fosUser.id }) }}">{{ fosUser.fullname }}</a></td>
                <td>{{ fosUser.emailCanonical }}</td>
                <td>{% if fosUser.roles %}{{ fosUser.roles|join('| ') }}{% endif %}</td>
                <td>{% if fosUser.enabled %}Yes{% else %}No{% endif %}</td>
                <td>{% if fosUser.lastLogin %}{{ fosUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
  </div>
 </div>
</div>
{% endblock %}
{% block breadcrumb %}<a href="{{ path('admin_personas_new') }}"><button class="btn btn-info">Agregar registro</button></a>{% endblock %}
{% block footer_js %}
{% endblock %}
