{% extends 'base.html.twig' %}
{% block titulo %}Persona [ <b>{{ fosUser.username }}</b> ]{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
    <table>
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ fosUser.username }}</td>
            </tr>
            <tr>
                <th>Username canonical</th>
                <td>{{ fosUser.usernameCanonical }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fosUser.email }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if fosUser.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ultimo acceso</th>
                <td>{% if fosUser.lastLogin %}{{ fosUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if fosUser.roles %}{{ fosUser.roles|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ fosUser.fullname }}</td>
            </tr>
        </tbody>
    </table>  
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('admin_personas_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
{% endblock %}
