{% extends 'base.html.twig' %}
{% block title %}Usuario: {{ fosUser.usernameCanonical }}{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr><th>Nombre corto</th><td>{{ fosUser.username }}</td></tr>
            <tr><th>Correo</th><td>{{ fosUser.email }}</td></tr>
            <tr><th>Forma canonica</th><td>{{ fosUser.emailCanonical }}</td></tr>
            <tr><th>Habilitado</th><td>{% if fosUser.enabled %}Si{% else %}No{% endif %}</td></tr>
            <tr><th>Ultimo acceso</th><td>{% if fosUser.lastLogin %}{{ fosUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td></tr>
            <th>Roles</th><td>{% if fosUser.roles %}{{ fosUser.roles|join(', ') }}{% endif %}</td></tr>
        </tbody>
    </table>

<a href="{{ path('admin_users_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('admin_users_edit', { 'id': fosUser.id }) }}" class="btn btn-primary">Editar</a>
{% endblock %}
