<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Ingreso al sistema</title>

		<meta name="description" content="User login page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--basic styles-->
		<link href="{{ asset('assets/') }}css/bootstrap.min.css" rel="stylesheet" />
		<link href="{{ asset('assets/') }}css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{ asset('assets/') }}css/font-awesome.min.css" />

    <!--[if IE 7]>  <link rel="stylesheet" href="{{ asset('assets/') }}css/font-awesome-ie7.min.css" />	<![endif]-->
    <!--page specific plugin styles-->
    <!--fonts-->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <!--ace styles-->
    <link rel="stylesheet" href="{{ asset('assets/') }}css/ace.min.css" />
    <link rel="stylesheet" href="{{ asset('assets/') }}css/ace-responsive.min.css" />
    <link rel="stylesheet" href="{{ asset('assets/') }}css/ace-skins.min.css" />
    <!--[if lte IE 8]> <link rel="stylesheet" href="{{ asset('assets/') }}css/ace-ie.min.css" /> <![endif]-->
    <!--inline styles related to this page-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

	<body class="login-layout light-login">
		<div class="main-container container-fluid">
			<div class="main-content">
				<div class="row-fluid">
					<div class="span12">
						<div class="login-container">
							<div class="row-fluid">
								<div class="center">
									<h1>
										<img src="{{ asset('assets/') }}img/logo.png"alt="" />
									</h1>
									<h4 class="blue">Sistema de Administración	de Catálogos maestros ({{ nombre }})</h4>
								</div>
							</div>

							<div class="space-6"></div>

							<div class="row-fluid">
								<div class="position-relative">
									<div id="login-box" class="login-box visible widget-box no-border">
										<div class="widget-body">
											<div class="widget-main">
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="flash-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <div>
                            {% block fos_user_content %}
                            {% endblock fos_user_content %}
                        </div>


											</div><!--/widget-main-->
											<div class="toolbar clearfix">
											</div>
										</div><!--/widget-body-->
									</div><!--/login-box-->
								</div><!--/position-relative-->
							</div>
						</div>
					</div><!--/.span-->
				</div><!--/.row-fluid-->
			</div>
		</div><!--/.main-container-->
        <!--inline scripts related to this page-->
        <!-- footer -->
        <!-- //footer -->
        {% block footer_js %}{% endblock %}
    	</body>
    </html>
