{% extends '::base.html.twig' %}
{% block titulo %}Listado oficial de productos{% endblock %}
{% block body %}
<div class="col-lg-12 col-sm-12 col-xs-12">
 <div class="white-box">
  <ul class="nav nav-tabs" role="tablist">
   {% if not app.user %}
   <li role="presentation" class="active"><a href="#oficial" aria-controls="oficial" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> oficial</span></a></li>
   {% else %}
	<li role="presentation" class="active"><a href="#oficial" aria-controls="oficial" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> oficial</span></a></li>
	{% if app.session.get('agrega') or app.session.get('valida') %}
		<li role="presentation" class=""><a href="#agregados" aria-controls="agregados" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Por validar</span></a></li>
	{% endif %}
    {% if app.session.get('valida') or is_granted('ROLE_UNABAST') %}
		<li role="presentation" class=""><a href="#habilitados" aria-controls="habilitados" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-email"></i></span> <span class="hidden-xs">Por habilitar</span></a></li>
	{% endif %}
    <li role="presentation" class=""><a href="#error" aria-controls="error" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-settings"></i></span> <span class="hidden-xs">Denegados</span></a></li>
   {% endif %}
  </ul>
  <div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="oficial">
    <div class="table-responsive">
     <table id="tablaoficial" class="display nowrap" cellspacing="0" width="100%">
      <thead>
       <tr><th>C贸digo</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </thead>
      <tfoot>
       <tr><th>C贸digo</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </tfoot>
     </table>
    </div>
   </div>
   {% if app.user %}
   <div role="tabpanel" class="tab-pane" id="valida">
    <div class="table-responsive">
     <table id="validado" class="display nowrap" cellspacing="0" width="100%">
      <thead>
       <tr><th>C贸digo</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </thead>
      <tfoot>
       <tr><th>C贸digo</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </tfoot>
      <tbody>
        {% for d in denegados %}
            <tr>
                <td>{{ d.codigoMinsalInsumo }}</td>
                <td>{{ d.nombreLargoInsumo }}</td>
                <td>{{ d.nivelUso }}</td>
                <td>{{ d.unidadMedidad }}</td>
                <td>{{ d.grupo }}</td>
            </tr>
        {% endfor %}
      </tbody>
     </table>
    </div>
   </div>
   {% if app.session.get('valida') or app.session.get('agrega')  %}
   <div role="tabpanel" class="tab-pane" id="agregados">
    <div class="table-responsive">
     <table id="agregado" class="display nowrap" cellspacing="0" width="100%">
      <thead>
       <tr><th>Fecha</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </thead>
      <tfoot>
       <tr><th>Fecha</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </tfoot>
      <tbody>
        {% for d in agregados %}
            <tr>
                <td>{{ d.registroSchema |date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('productos_show', { 'id': d.id }) }}">{{ d.nombreLargoInsumo }}</a></td>
                <td>{{ d.nivelUso }}</td>
                <td>{{ d.unidadMedidad }}</td>
                <td>{{ d.grupo }}</td>
            </tr>
        {% endfor %}
      </tbody>
     </table>
    </div>
   </div>
   {% endif %}
   {% if app.session.get('valida') or is_granted('ROLE_UNABAST') %}
   <div role="tabpanel" class="tab-pane" id="habilitados">
    <div class="table-responsive">
     <table id="habilitado" class="display nowrap" cellspacing="0" width="100%">
      <thead>
       <tr><th>Fecha</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </thead>
      <tfoot>
       <tr><th>Fecha</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </tfoot>
      <tbody>
        {% for d in habilitados %}
            <tr>
                <td>{{ d.registroSchema |date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('productos_show', { 'id': d.id }) }}">{{ d.nombreLargoInsumo }}</a></td>
                <td>{{ d.nivelUso }}</td>
                <td>{{ d.unidadMedidad }}</td>
                <td>{{ d.grupo }}</td>
            </tr>
        {% endfor %}
      </tbody>
     </table>
    </div>
   </div>
   {% endif %}
   <div role="tabpanel" class="tab-pane" id="error">
    <div class="table-responsive">
     <table id="denegado" class="display nowrap" cellspacing="0" width="100%">
      <thead>
       <tr><th>Fecha</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </thead>
      <tfoot>
       <tr><th>Fecha</th><th>Nombre</th><th>Nivel uso</th><th>Unidad</th><th>Grupo</th></tr>
      </tfoot>
      <tbody>
        {% for d in denegados %}
            <tr>
                <td>{{ d.registroSchema |date('Y-m-d H:i:s') }}</td>
                <td>{{ d.nombreLargoInsumo }}</td>
                <td>{{ d.nivelUso }}</td>
                <td>{{ d.unidadMedidad }}</td>
                <td>{{ d.grupo }}</td>
            </tr>
        {% endfor %}
      </tbody>
     </table>
    </div>
   </div>
   {% endif %}
  </div>
 </div>
</div>
{% endblock %}
{% block footer_js %}
    <script>
    $(document).ready(function() {
    $('#tablaoficial').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "ajax": "{{ url('productos_json') }}",
        "columns": [
            { "data": "codigoMinsalInsumo" },
            { "data": "nombreLargoInsumo" },
            { "data": "nombreNivelUso" },
            { "data": "nombreUnidad" },
            { "data": "nombreGrupo" }
        ]
		} );
	{% if app.user %}
   {% if app.session.get('valida') or app.session.get('agrega') %}
    $('#agregado').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
		} );
   {% endif %}
   {% if app.session.get('valida') or is_granted('ROLE_UNABAST') %}
    $('#habilitado').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
		} );
   {% endif %}
    $('#denegado').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
		} );
	{% endif %}
	} );
    </script>
{% endblock %}
{% block breadcrumb %}
	 {% if app.user and app.session.get('agrega') %}
		<a href="{{ path('productos_new') }}"><button class="btn btn-info">Solicitar codigo</button></a>
	{% endif %}
{% endblock %}
