{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlespecificogastos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreespecificogasto</th>
                <th>Detalleespecificogasto</th>
                <th>Registroschema</th>
                <th>Detalleschema</th>
                <th>Useridschema</th>
                <th>Useripschema</th>
                <th>Estadoschema</th>
                <th>Enableschema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlEspecificoGasto in ctlEspecificoGastos %}
            <tr>
                <td><a href="{{ path('uaci_especficogasto_show', { 'id': ctlEspecificoGasto.id }) }}">{{ ctlEspecificoGasto.id }}</a></td>
                <td>{{ ctlEspecificoGasto.nombreEspecificoGasto }}</td>
                <td>{{ ctlEspecificoGasto.detalleEspecificoGasto }}</td>
                <td>{% if ctlEspecificoGasto.registroSchema %}{{ ctlEspecificoGasto.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlEspecificoGasto.detalleSchema }}</td>
                <td>{{ ctlEspecificoGasto.userIdSchema }}</td>
                <td>{{ ctlEspecificoGasto.userIpSchema }}</td>
                <td>{{ ctlEspecificoGasto.estadoSchema }}</td>
                <td>{{ ctlEspecificoGasto.enableSchema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('uaci_especficogasto_show', { 'id': ctlEspecificoGasto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('uaci_especficogasto_edit', { 'id': ctlEspecificoGasto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('uaci_especficogasto_new') }}">Create a new ctlEspecificoGasto</a>
        </li>
    </ul>
{% endblock %}
