{% extends 'base.html.twig' %}
{% block titulo %}Codigo  [ <b>{{ ctlEspecificoGasto.nombreEspecificoGasto }}</b> ]{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
    <table>
        <tbody>
            <tr>
                <th>Codigo </th>
                <td>{{ ctlEspecificoGasto.nombreEspecificoGasto }}</td>
            </tr>
            <tr>
                <th>Detalle especifico gasto</th>
                <td>{{ ctlEspecificoGasto.detalleEspecificoGasto }}</td>
            </tr>
            <tr>
                <th>Registro</th>
                <td>{% if ctlEspecificoGasto.registroSchema %}{{ ctlEspecificoGasto.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>  
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('uaci_especficogasto_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
<a href="{{ path('uaci_especficogasto_edit', { 'id': ctlEspecificoGasto.id }) }}"><button class="btn btn-primary">Editar</button></a>
{% endblock %}




