{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlnivelusos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreniveluso</th>
                <th>Detalleniveluso</th>
                <th>Registroschema</th>
                <th>Detalleschema</th>
                <th>Useridschema</th>
                <th>Ipuserschema</th>
                <th>Estadoschema</th>
                <th>Enableschema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlNivelUso in ctlNivelUsos %}
            <tr>
                <td><a href="{{ path('nivel_uso_show', { 'id': ctlNivelUso.id }) }}">{{ ctlNivelUso.id }}</a></td>
                <td>{{ ctlNivelUso.nombreNivelUso }}</td>
                <td>{{ ctlNivelUso.detalleNivelUso }}</td>
                <td>{% if ctlNivelUso.registroSchema %}{{ ctlNivelUso.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlNivelUso.detalleSchema }}</td>
                <td>{{ ctlNivelUso.userIdSchema }}</td>
                <td>{{ ctlNivelUso.ipUserSchema }}</td>
                <td>{{ ctlNivelUso.estadoSchema }}</td>
                <td>{{ ctlNivelUso.enableSchema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('nivel_uso_show', { 'id': ctlNivelUso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('nivel_uso_edit', { 'id': ctlNivelUso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nivel_uso_new') }}">Create a new ctlNivelUso</a>
        </li>
    </ul>
{% endblock %}
