{% extends 'base.html.twig' %}
{% block title %}Agregar Acceso{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
		<div class="control-group ">{{ form_label(form.pathAcceso) }}
         <div class="controls">
          <span class="span12 input-icon input-icon-right">
           <select id="maestro_modelobundle_ctlacceso_pathAcceso" name="maestro_modelobundle_ctlacceso[pathAcceso]">
           {% for route in routes %}
			<option value="{{ route.name }}">{{ route.name }}</option>
            {% endfor %}
           </select>
          </span>
          </div>
        </div>
        <input type="submit" value="Agregar" class="btn btn-primary" />
</form>
<a href="{{ path('acceso_index') }}" class="btn">Regresar a listado</a>


{% endblock %}
