{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlpresentacions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrepresentacion</th>
                <th>Detallepresentacion</th>
                <th>Registroschema</th>
                <th>Detalleschema</th>
                <th>Useridschema</th>
                <th>Useripschema</th>
                <th>Estadoschema</th>
                <th>Enableschema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlPresentacion in ctlPresentacions %}
            <tr>
                <td><a href="{{ path('presentaciones_show', { 'id': ctlPresentacion.id }) }}">{{ ctlPresentacion.id }}</a></td>
                <td>{{ ctlPresentacion.nombrePresentacion }}</td>
                <td>{{ ctlPresentacion.detallePresentacion }}</td>
                <td>{% if ctlPresentacion.registroSchema %}{{ ctlPresentacion.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlPresentacion.detalleSchema }}</td>
                <td>{{ ctlPresentacion.userIdSchema }}</td>
                <td>{{ ctlPresentacion.userIpSchema }}</td>
                <td>{{ ctlPresentacion.estadoSchema }}</td>
                <td>{{ ctlPresentacion.enableSchema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('presentaciones_show', { 'id': ctlPresentacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('presentaciones_edit', { 'id': ctlPresentacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presentaciones_new') }}">Create a new ctlPresentacion</a>
        </li>
    </ul>
{% endblock %}
