{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Presentación [{{ ctlPresentacion.nombrePresentacion }}]{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombrepresentacion</th>
                <td>{{ ctlPresentacion.nombrePresentacion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('presentacion_index') }}" class="btn">Regresar a listado</a>
    <a href="{{ path('presentacion_edit', { 'id': ctlPresentacion.id }) }}" class="btn btn-primary">Editar</a>
    
    {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-xs btn-danger" />
            {{ form_end(delete_form) }}
{% endblock %}
