{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlaccesos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreacceso</th>
                <th>Pathacceso</th>
                <th>Publicacceso</th>
                <th>Ordenacceso</th>
                <th>Visibleacceso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlAcceso in ctlAccesos %}
            <tr>
                <td><a href="{{ path('acceso_show', { 'id': ctlAcceso.id }) }}">{{ ctlAcceso.id }}</a></td>
                <td>{{ ctlAcceso.nombreAcceso }}</td>
                <td>{{ ctlAcceso.pathAcceso }}</td>
                <td>{% if ctlAcceso.publicAcceso %}Yes{% else %}No{% endif %}</td>
                <td>{{ ctlAcceso.ordenAcceso }}</td>
                <td>{% if ctlAcceso.visibleAcceso %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('acceso_show', { 'id': ctlAcceso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('acceso_edit', { 'id': ctlAcceso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acceso_new') }}">Create a new ctlAcceso</a>
        </li>
    </ul>
{% endblock %}
