{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Editar Establecimiento :: [{{ nombre }}]{% endblock %}
{% block body %}
{% if is_granted('ROLE_VALIDA') %}
<div class="row-fluid">
 <div class="span12">
  <div class="widget-box">
   <div class="widget-header widget-header-flat"><h4>Acciones a tomar</h4></div>
   <div class="widget-body">
    <div class="widget-main">
     <div class="row-fluid">
      {{ form_start(edit_form) }}
     <div class="control-group ">{{ form_label(edit_form.detalleSchema) }}
      <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(edit_form.detalleSchema) }}</span>{{ form_errors(edit_form.detalleSchema) }}</div>
     </div>
     <div class="control-group ">{{ form_label(edit_form.estadoSchema) }}
      <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(edit_form.estadoSchema) }}</span>{{ form_errors(edit_form.estadoSchema) }}</div>
     </div>
      <div style="display: none;">
       {{ form_widget(edit_form) }}
	  </div>
      <input type="submit" value="Guardar cambios en establecimiento" class="btn btn-inverse">
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>


{% elseif is_granted('ROLE_HABILITA') %}


<div class="row-fluid">
 <div class="span12">
  <div class="widget-box">
   <div class="widget-header widget-header-flat"><h4>Opciones a tomar</h4></div>
   <div class="widget-body">
    <div class="widget-main">
     <div class="row-fluid">
      {{ form_start(edit_form) }}
		<div id="divCheckbox" style="display: none;">
			{{ form_row(edit_form.estadoSchema) }}
		</div>
      {{ form_widget(edit_form) }}
      {{ form_row(edit_form.detalleSchema) }}
      {{ form_row(edit_form.enableSchema) }}
       <input type="submit" value="Guardar cambios en establecimiento" class="btn btn-inverse">
      </form>      
     </div>
    </div>
   </div>
  </div>
 </div>
</div>


{% elseif (ctlEstablecimiento.userIdSchema == app.user.id and enable != 1 ) %}

<div class="row-fluid">
 <div class="span12">
  <div class="widget-box">
   <div class="widget-header widget-header-flat"><h4>Modificar</h4></div>
   <div class="widget-body">
    <div class="widget-main">
     <div class="row-fluid">
      {{ form_start(edit_form) }}
      <div id="divCheckbox" style="display: none;">
		{% if is_granted('ROLE_AGREGA') %}
		{% endif %}
       {{ form_row(edit_form.enableSchema) }}       {{ form_row(edit_form.estadoSchema) }}
      </div>
      {{ form_widget(edit_form) }}
      {{ form_row(edit_form.detalleSchema) }}
       <input type="submit" value="Enviar actualilzación" class="btn btn-danger">
      </form>      
     </div>
    </div>
   </div>
  </div>
 </div>
</div>


{% endif %}


<br/>
<a href="{{ path('maestro_homepage') }}" class="btn">Regresar al listado</a>
{% endblock %}
