{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Listado de Establecimientos{% endblock %}
{% block body %}
<div style="margin: 5px auto 5px;width: 100%;">
  <div style="position:relative">
    <div id="grid" style=""></div>
  </div>
</div>

 <div id="tabla"></div> 
<script>
var data = [
	{% for e in ctlEstablecimientos %}
	{
		region:'{% if 'Re' in e.direccion %}{{ e.direccion }}{% endif %}', 
		sibasi:'{{e.telefono}}', 
		red:'{{e.fax}}', 
		nombre: '{{e.nombre}}', 
		eco:{% set t = false %}{% for m in eco %}{% if e.id == m.establecimiento %}{% set t = true %}{% endif %}{% endfor %}{% if t%}true{% else %}false{% endif %},
		tipo:'{{e.poblacionAsignana}}'
	},
	{% endfor %} 
];

window.onload = function(){

new FancyGrid({
  title: 'Establecimientos',
  i18n: 'es',
  //grouping: { by: 'region' },
  renderTo: 'tabla',
  height: 400,
  paging: true,
  data: data,
  selModel: 'row',
  trackOver: true,
  defaults: {
    type: 'string',
    sortable: true,
    resizable: true,    
    editable: false,
    filter: { header: true }
  },
  columns: [
	{index: 'region',title: 'Region',width: 200},
	{index: 'sibasi', title: 'SIBASI',width: 200 },
	{index: 'red', title: 'Micro Red', type: 'combo', data: [''{% for e in red %},'{{e.nombre}}'{% endfor %}],width: 200 },
	{index: 'nombre', title: 'Nombre',flex: 1 },
	{index: 'tipo', title: 'Tipo de establecimiento', type: 'combo', data: [''{% for e in tipo %},'{{e.nombre}}'{% endfor %}],width: 300 },
	{index: 'eco', width: 100, title: 'Posee ECO', type: 'checkbox',
      flex: 1 }]
});

};
</script>
{% if is_granted('ROLE_AGREGA') %}
<a href="{{ path('establecimiento_add') }}" class="btn btn-primary">Agregar Establecimiento</a>
{% endif %}
{% endblock %}
{% block footer_js %}<script type="text/javascript">$(function(){ var oTable2 = $('#sample-table').dataTable(); })</script>{% endblock %}

{% block head_css %}
{% endblock %}
