{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Listado de Establecimientos{% endblock %}
{% block body %}
    <table id="sample-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlEstablecimiento in ctlEstablecimientos %}
            <tr>
                <td><a href="{{ path('establecimiento_show', { 'id': ctlEstablecimiento.id }) }}">{{ ctlEstablecimiento.nombre }}</a></td>
                <td>{{ ctlEstablecimiento.direccion }}</td>
                <td>{{ ctlEstablecimiento.telefono }}</td>
                <td>{{ ctlEstablecimiento.idTipoEstablecimiento }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_AGREGA') %}
<a href="{{ path('establecimiento_add') }}" class="btn btn-primary">Agregar Establecimiento</a>
{% endif %}
{% endblock %}
{% block footer_js %}<script type="text/javascript">$(function(){ var oTable2 = $('#sample-table').dataTable(); })</script>{% endblock %}
