{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}establecimiento {{ ctlEstablecimiento.nombre }}{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ ctlEstablecimiento.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ ctlEstablecimiento.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ ctlEstablecimiento.telefono }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ ctlEstablecimiento.fax }}</td>
            </tr>
            <tr>
                <th>Año de apertura</th>
                <td>{{ ctlEstablecimiento.anioApertura }}</td>
            </tr>
            <tr>
                <th>Es cabeza de micro red</th>
                <td>{% if ctlEstablecimiento.cabezaMicrored %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Posee hospitalizacion</th>
                <td>{% if ctlEstablecimiento.hospitalizacion %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Población asignada</th>
                <td>{{ ctlEstablecimiento.poblacionAsignana }}</td>
            </tr>
            <tr>
                <th>Cantidad de familias</th>
                <td>{{ ctlEstablecimiento.cantidadFamilia }}</td>
            </tr>
            {% if app.user %}
              <tr>
                <th>Registro</th>
                {% set id = ctlEstablecimiento.id %}
                <td>{{ ctlEstablecimiento.detalleSchema |replace({'nodo>': 'p>','fecha>': 'b>','id>': 'id>', id : "" }) | raw }}</td>
              </tr>
            {% endif %}
        </tbody>
    </table>
    {% if is_granted('ROLE_VALIDA') %}
		<a href="{{ path('establecimiento_edit', { 'id': ctlEstablecimiento.id }) }}" class="btn btn-primary">Validar o comentar registro de establecimiento</a>
	{% elseif is_granted('ROLE_HABILITA') %}
		<a href="{{ path('establecimiento_edit', { 'id': ctlEstablecimiento.id }) }}" class="btn btn-primary">Validar o comentar registro de establecimiento</a>
    {% elseif app.user and ctlEstablecimiento.userIdSchema == app.user.id %}
		<a href="{{ path('establecimiento_edit', { 'id': ctlEstablecimiento.id }) }}" class="btn btn-primary">Modificar registro de establecimiento</a>
	{% endif %}
	
	
<a href="{{ path('maestro_homepage') }}" class="btn">Regresar al listado</a>
{% endblock %}
