{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}establecimiento {{ ctlEstablecimiento.nombre }}{% endblock %}
{% block body %}
     {% if tmp == '1'  %}
      <div class="alert alert-info">
       <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
       <strong>Exito!</strong> Establecimiento creado [ {{ ctlEstablecimiento.nombre }} ]
      </div>
     {% else %}{% endif %}
<div class="row-fluid">
 <div class="span6">
  <div class="widget-box">
   <div class="widget-header widget-header-flat"><h4>Establecimiento: {{ ctlEstablecimiento.nombre }}</h4></div>
   <div class="widget-body">
    <div class="widget-main">
     <div class="row-fluid">
     
     
 <div >
  <div class="tabbable tabs-left">
   <ul class="nav nav-tabs" id="myTab3">
    <li class="active"><a data-toggle="tab" href="#home1"><i class="icon-dashboard bigger-110"></i>Datos generales</a></li>
    <li class=""><a data-toggle="tab" href="#home2"><i class="icon-user bigger-110"></i>Datos administrativos</a></li>
    <li class=""><a data-toggle="tab" href="#home3"><i class="icon-user bigger-110"></i>Recurso Humano y servicios</a></li>
    <li class=""><a data-toggle="tab" href="#home4"><i class="icon-rocket bigger-110"></i>Localización</a></li>
   </ul>
   <div class="tab-content">
    <div id="home1" class="tab-pane in active">
     <p>Nombre: {{ ctlEstablecimiento.nombre }}</p>
     <p>Dirección: {{ ctlEstablecimiento.direccion }}</p>
     <p>Telefonos: {{ ctlEstablecimiento.telefono }}</p>
     <p>Fax: {{ ctlEstablecimiento.fax }}</p>
     <p>Año de apertura: {{ ctlEstablecimiento.anioApertura }}</p>
    </div>
    <div id="home2" class="tab-pane">
     <p>Posee hospitalizacion: {% if ctlEstablecimiento.hospitalizacion %}Si{% else %}No{% endif %}</p>
     <p>Población asignada: {{ ctlEstablecimiento.poblacionAsignana }}</p>
     <p>Familias asignadas: {{ ctlEstablecimiento.cantidadFamilia }}</p>
     <p>Administración: {{ ctlEstablecimiento.idEstablecimientoPadre }} </p>
     <p>Tipo de establecimiento: {{ ctlEstablecimiento.idTipoEstablecimiento }}</p>
     <p>Situación Legal: {{ ctlEstablecimiento.idSituacionLegal }}</p>
    </div>
    <div id="home3" class="tab-pane">
     <p>Prestaciones: {{ ctlEstablecimiento.ctlPrestacionid | join(' | ') }}</p>
     <p>Recurso Humano: {{ ctlEstablecimiento.ctlRecursoHumanoid | join(' | ') }} </p>
     <p>Servicios: {{ ctlEstablecimiento.ctlServicioid | join(' | ') }} </p>
    </div>
    <div id="home4" class="tab-pane">
     <p>Latitud: {{ ctlEstablecimiento.latitud }}</p>
     <p>Longitud: {{ ctlEstablecimiento.longitud }} </p>
     <p>Micro Red: {{ ctlEstablecimiento.idmicrored }} </p>
     <p>Municipio {{ ctlEstablecimiento.idMunicipio }} </p>
    </div>
   </div>
  </div>
 </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="span6">
  <div class="row-fluid"></div>
  <div class="span12 widget-container-span ui-sortable">
   <div class="widget-box">
    <div class="widget-header widget-header-flat"><h4>Ecos registrados a este establecimiento</h4></div>
    <div class="widget-body">
     <div class="widget-main">
      <div class="row-fluid">
       {% for m in eco %}
		{% if ctlEstablecimiento.id == m.establecimiento %}
			<p><a href="{{ path('eco_show', { 'id': m.id }) }}">{{ m.nombreEquipo }}<i class="icon-show bigger-120"></i></a> {{ m.recurso | join(' | ') }}</p>
		{% endif %}
	   {% endfor %}
      </div>
     </div>
    </div>
   </div>
  </div> 
  <div class="span12 widget-container-span ui-sortable">
   <div class="widget-box collapsed">
    <div class="widget-header">
     <h4>Historial de cambios</h4>
     <div class="widget-toolbar">
      <a href="#" data-action="settings"><i class="icon-cog"></i></a>
      <a href="#" data-action="reload"><i class="icon-refresh"></i></a>
      <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
      <a href="#" data-action="close"><i class="icon-remove"></i></a>
     </div>
    </div>
    <div class="widget-body">
     <div class="widget-body-inner" style="display: block;">
      <div class="widget-main">
       {% if app.user %}
         {{ ctlEstablecimiento.detalleSchema |replace({'nodo>': 'p>','<id>': '<div style="display: none;">','</id>': '</div>','</fecha>': '</fecha>&nbsp;&nbsp;' }) | raw }}
       {% endif %}
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

    {% if is_granted('ROLE_AGREGA') %}
		{{ app.session.set('id', ctlEstablecimiento.id) }}
		{{ app.session.set('nombre', ctlEstablecimiento.nombre) }}
		<a href="{{ path('eco_new') }}" class="btn btn-primary">Agregar ECO</a>
		{% if (ctlEstablecimiento.userIdSchema == app.user.id) %}
			<a href="{{ path('establecimiento_edit', { 'id': ctlEstablecimiento.id }) }}" class="btn btn-primary">Modificar registro de establecimiento</a>
		{% endif %}
    {% elseif is_granted('ROLE_VALIDA') %}
		<a href="{{ path('establecimiento_edit', { 'id': ctlEstablecimiento.id }) }}" class="btn btn-primary">Validar o comentar registro de establecimiento</a>
	{% elseif is_granted('ROLE_HABILITA') %}
		<a href="{{ path('establecimiento_edit', { 'id': ctlEstablecimiento.id }) }}" class="btn btn-primary">Validar o comentar registro de establecimiento</a>
    {% elseif app.user and ctlEstablecimiento.userIdSchema == app.user.id %}
		<a href="{{ path('establecimiento_edit', { 'id': ctlEstablecimiento.id }) }}" class="btn btn-primary">Modificar registro de establecimiento</a>
	{% endif %}
<a href="{{ path('maestro_homepage') }}" class="btn">Regresar al listado</a>
{% endblock %}
