{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlprogramas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreprograma</th>
                <th>Detalleprograma</th>
                <th>Registroschema</th>
                <th>Detalleschema</th>
                <th>Useridschema</th>
                <th>Ipuserschema</th>
                <th>Estadoschema</th>
                <th>Enableschema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlPrograma in ctlProgramas %}
            <tr>
                <td><a href="{{ path('programa_show', { 'id': ctlPrograma.id }) }}">{{ ctlPrograma.id }}</a></td>
                <td>{{ ctlPrograma.nombrePrograma }}</td>
                <td>{{ ctlPrograma.detallePrograma }}</td>
                <td>{% if ctlPrograma.registroSchema %}{{ ctlPrograma.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlPrograma.detalleSchema }}</td>
                <td>{{ ctlPrograma.userIdSchema }}</td>
                <td>{{ ctlPrograma.ipUserSchema }}</td>
                <td>{{ ctlPrograma.estadoSchema }}</td>
                <td>{{ ctlPrograma.enableSchema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('programa_show', { 'id': ctlPrograma.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('programa_edit', { 'id': ctlPrograma.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('programa_new') }}">Create a new ctlPrograma</a>
        </li>
    </ul>
{% endblock %}
