{% extends 'base.html.twig' %}
{% block titulo %}Editar suministro{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
        {{ form_widget(edit_form) }}
        <input type="submit" value="Actualizar" class="btn btn-primary"/>
    {{ form_end(edit_form) }}
 </div>
</div>
<div class="col-sm-12">
 <div class="white-box">
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger">
            {{ form_end(delete_form) }}
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('admin_accesos_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
{% endblock %}
