{% extends 'base.html.twig' %}

{% block body %}
    <h1>Segaccesos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreacceso</th>
                <th>Pathacceso</th>
                <th>Publicacceso</th>
                <th>Accesoid</th>
                <th>Ordenacceso</th>
                <th>Visibleacceso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for segAcceso in segAccesos %}
            <tr>
                <td><a href="{{ path('admin_accesos_show', { 'id': segAcceso.id }) }}">{{ segAcceso.id }}</a></td>
                <td>{{ segAcceso.nombreAcceso }}</td>
                <td>{{ segAcceso.pathAcceso }}</td>
                <td>{% if segAcceso.publicAcceso %}Yes{% else %}No{% endif %}</td>
                <td>{{ segAcceso.accesoId }}</td>
                <td>{{ segAcceso.ordenAcceso }}</td>
                <td>{% if segAcceso.visibleAcceso %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_accesos_show', { 'id': segAcceso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_accesos_edit', { 'id': segAcceso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_accesos_new') }}">Create a new segAcceso</a>
        </li>
    </ul>
{% endblock %}
