{% extends 'base.html.twig' %}
{% block titulo %}Catalogo de accesos{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
  <div class="table-responsive">
   <table id="tabla" class="display nowrap" cellspacing="0" width="100%">
    <thead>
     <tr><th>Nombre acceso</th><th>Path acceso</th><th>Publico</th><th>Visible</th><th>Permisos</th></tr>
    </thead>
    <tfoot>
     <tr><th>Nombre acceso</th><th>Path acceso</th><th>Publico</th><th>Visible</th><th>Permisos</th></tr>
    </tfoot>
    <tbody>
        {% for segAcceso in segAccesos %}
            <tr>
                <td><a href="{{ path('admin_accesos_show', { 'id': segAcceso.id }) }}">{{ segAcceso.nombreAcceso }}</a></td>
                <td>{{ segAcceso.pathAcceso }}</td>
                <td>{% if segAcceso.publicAcceso %}Si{% else %}No{% endif %}</td>
                <td>{% if segAcceso.visibleAcceso %}So{% else %}No{% endif %}</td>
                <td>{{ segAcceso.ctlRole | join('|') }}</td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
  </div>
 </div>
</div>
{% endblock %}
{% block breadcrumb %}<a href="{{ path('admin_accesos_new') }}"><button class="btn btn-info">Agregar registro</button></a>{% endblock %}
{% block footer_js %}
{% endblock %}
