{% extends 'base.html.twig' %}
{% block titulo %}Acceso [ <b>{{ segAcceso.nombreAcceso | raw }}</b> ]{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">

    <table>
        <tbody>
            <tr>
                <th>Nombre acceso</th>
                <td>{{ segAcceso.nombreAcceso }}</td>
            </tr>
            <tr>
                <th>Path acceso</th>
                <td>{{ segAcceso.pathAcceso }}</td>
            </tr>
            <tr>
                <th>Acceso publico</th>
                <td>{% if segAcceso.publicAcceso %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Permisos</th>
                <td>{{ segAcceso.role | join('|') }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if segAcceso.visibleAcceso %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>  
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('admin_accesos_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
<a href="{{ path('admin_accesos_edit', { 'id': segAcceso.id }) }}"><button class="btn btn-primary">Editar</button></a>
{% endblock %}
