{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlconcentracion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlConcentracion.id }}</td>
            </tr>
            <tr>
                <th>Detalleconcentracion</th>
                <td>{{ ctlConcentracion.detalleConcentracion }}</td>
            </tr>
            <tr>
                <th>Registroschema</th>
                <td>{% if ctlConcentracion.registroSchema %}{{ ctlConcentracion.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Detalleschema</th>
                <td>{{ ctlConcentracion.detalleSchema }}</td>
            </tr>
            <tr>
                <th>Useridschema</th>
                <td>{{ ctlConcentracion.userIdSchema }}</td>
            </tr>
            <tr>
                <th>Ipuserschema</th>
                <td>{{ ctlConcentracion.ipUserSchema }}</td>
            </tr>
            <tr>
                <th>Estadoschema</th>
                <td>{{ ctlConcentracion.estadoSchema }}</td>
            </tr>
            <tr>
                <th>Enableschema</th>
                <td>{{ ctlConcentracion.enableSchema }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('concentracion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('concentracion_edit', { 'id': ctlConcentracion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
