{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlprincipioactivos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrepactivo</th>
                <th>Registroschema</th>
                <th>Detalleschema</th>
                <th>Useridschema</th>
                <th>Ipuserschema</th>
                <th>Estadoschema</th>
                <th>Enableschema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlPrincipioActivo in ctlPrincipioActivos %}
            <tr>
                <td><a href="{{ path('principio_activo_show', { 'id': ctlPrincipioActivo.id }) }}">{{ ctlPrincipioActivo.id }}</a></td>
                <td>{{ ctlPrincipioActivo.nombrePactivo }}</td>
                <td>{% if ctlPrincipioActivo.registroSchema %}{{ ctlPrincipioActivo.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlPrincipioActivo.detalleSchema }}</td>
                <td>{{ ctlPrincipioActivo.userIdSchema }}</td>
                <td>{{ ctlPrincipioActivo.ipUserSchema }}</td>
                <td>{{ ctlPrincipioActivo.estadoSchema }}</td>
                <td>{{ ctlPrincipioActivo.enableSchema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('principio_activo_show', { 'id': ctlPrincipioActivo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('principio_activo_edit', { 'id': ctlPrincipioActivo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('principio_activo_new') }}">Create a new ctlPrincipioActivo</a>
        </li>
    </ul>
{% endblock %}
