{% extends 'base.html.twig' %}
{% block titulo %}Actualizar producto{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
    {{ form_start(edit_form, { 'attr' : { 'class': 'form-horizontal' } }) }}
     {% if is_granted('ROLE_MEDICAMENTO') %}
			{{ form_row(edit_form.estadoSchema) }}
			{{ form_row(edit_form.codigoMinsalInsumo) }}
    {% elseif is_granted('ROLE_UNABAST') %}
			{{ form_row(edit_form.enableSchema) }}
			{{ form_row(edit_form.codigoMinsalInsumo) }}
    {% elseif is_granted('ROLE_UFI') %}
			{{ form_row(edit_form.codigoNuInsumo) }}
    {% endif %}
		<div id="divCheckbox" style="display: none;">
			{{ form_row(edit_form.codigoNuInsumo) }}
			{{ form_row(edit_form.enableSchema) }}
			{{ form_row(edit_form.estadoSchema) }}
			{{ form_row(edit_form.especificoGasto) }}
		</div>
        {{ form_widget(edit_form) }}
        <input type="submit" value="Actualizar" class="btn btn-success"/>
    {{ form_end(edit_form) }}
 </div>
</div>
<div class="col-sm-12">
 <div class="white-box">
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger">
            {{ form_end(delete_form) }}
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('homepage') }}"><button class="btn btn-warning">Regresar a listado</button></a>
{% endblock %}

{% block footer_js %}
<script src="{{ asset('assets/') }}plugins/bower_components/switchery/dist/switchery.min.js"></script>
<script src="{{ asset('assets/') }}plugins/bower_components/custom-select/custom-select.min.js" type="text/javascript"></script>
<script src="{{ asset('assets/') }}plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
<script src="{{ asset('assets/') }}plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="{{ asset('assets/') }}plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('assets/') }}plugins/bower_components/multiselect/js/jquery.multi-select.js"></script>
<script>
jQuery(document).ready(function() {
  $("#minsal_suministrobundle_mntinsumo_unidadMedidad").select2({sorter: function(data) { return data.sort(); }});
  $("#minsal_suministrobundle_mntinsumo_nivelUso").select2({sorter: function(data) { return data.sort(); }});
  $("#minsal_suministrobundle_mntinsumo_tipoUso").select2({sorter: function(data) { return data.sort(); }});
  $("#minsal_suministrobundle_mntinsumo_grupo").select2({sorter: function(data) { return data.sort(); }});
  $("#minsal_suministrobundle_mntinsumo_presentacion").select2({sorter: function(data) { return data.sort(); }});
  {% if is_granted('ROLE_SOLICITA_MEDICAMENTO') or is_granted('ROLE_MEDICAMENTO') %}
  $("#minsal_suministrobundle_mntinsumo_ctlFormaFarmaceutica").select2({sorter: function(data) { return data.sort(); }});
  $("#minsal_suministrobundle_mntinsumo_viaAdministracion").select2({sorter: function(data) { return data.sort(); }});
  $("#minsal_suministrobundle_mntinsumo_unidadDespacho").select2({sorter: function(data) { return data.sort(); }});
  $("#minsal_suministrobundle_mntinsumo_principio").select2({sorter: function(data) { return data.sort(); }});  
  {% endif %}
});
</script>
{% endblock %}
{% block css_head %}
<link href="{{ asset('assets/') }}plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<link href="{{ asset('assets/') }}plugins/bower_components/custom-select/custom-select.css" rel="stylesheet" type="text/css" />
<link href="{{ asset('assets/') }}plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />
<link href="{{ asset('assets/') }}plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<link href="{{ asset('assets/') }}plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="{{ asset('assets/') }}plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="{{ asset('assets/') }}plugins/bower_components/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
{% endblock %}
