{% extends 'base.html.twig' %}
{% block titulo %}Producto [ <b>{{ mntInsumo.nombreLargoInsumo }}</b> ]{% endblock %}
{% block body %}
<div class="row">
 <div class="col-sm-6">

<div class="panel panel-info block4">
                            <div class="panel-heading"> Informacion general
                                <div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="javascript:void(0)" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
                            </div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body"><p>
										<center><svg id="insumoBC"></svg><script>JsBarcode("#insumoBC", "{{ mntInsumo.codigoMinsalInsumo }}", {  displayValue: true, width:3 });</script>
                                    </center></p>
    <table>
        <tbody>
            <tr>
                <th>Nombre generico </th>
                <td>{{ mntInsumo.nombreGenericoInsumo }}</td>
            </tr>
            <tr>
                <th>Nombre largo </th>
                <td>{{ mntInsumo.nombreLargoInsumo }}</td>
            </tr>
            <tr>
                <th>Descripcion </th>
                <td>{{ mntInsumo.descripcionInsumo }}</td>
            </tr>
            <tr>
                <th>Grupo</th>
                <td>{{ mntInsumo.grupo }}</td>
            </tr>
            <tr>
                <th>Unidad de medida</th>
                <td>{{ mntInsumo.unidadMedidad }}</td>
            </tr>
            <tr>
                <th>Nivel de uso</th>
                <td>{{ mntInsumo.nivelUso }}</td>
            </tr>
            <tr>
                <th>Presentación</th>
                <td>{{ mntInsumo.presentacion }}</td>
            </tr>
            <tr>
                <th>Precio referencia </th>
                <td>{{ mntInsumo.precioReferenciaInsumo }}</td>
            </tr>
        </tbody>
    </table>
                                </div>
                            </div>
                        </div>
 </div>
 
 <div class="col-sm-6">
  <div class="col-sm-12">
   <div class="panel panel-primary block6">
    <div class="panel-heading"> Especificaciones técnicas<div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="javascript:void(0)" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
    </div>
                            <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                                <div class="panel-body">
    <table>
        <tbody>
            <tr>
                <th>Codigo MINSAL </th>
                <td> {{ mntInsumo.codigoMinsalInsumo }}</td>
            </tr>
            <tr>
                <th>Codigo ONU</th>
                <td>{{ mntInsumo.codigoNuInsumo }}</td>
            </tr>
            <tr>
                <th>Especificacion técnica </th>
                <td>{{ mntInsumo.especificacionTecnicaInsumo }}</td>
            </tr>
            {% if medicamento %}
            <tr>
                <th>Nivel VEN</th>
                <td>{% if mntInsumo.venInsumo == 1 %}Vital{% elseif mntInsumo.venInsumo == 2 %}Escencial{% elseif mntInsumo.venInsumo == 3 %}No escencial{% endif %}</td>

            </tr>
            <tr>
                <th>Pertenece al listado oficial</th>
                <td>{% if mntInsumo.listadoOficial %}Si{% else %}No{% endif %}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>                                    
                                </div>
                            </div>
                        </div>
    </div>
	<div class="col-sm-12">
    <div class="panel panel-success block5" style="position: static;">
                            <div class="panel-heading"> Control de cambios
                                <div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="javascript:void(0)" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
                            </div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
                   <table>                         <tr>
                <th>Producto creado el: </th>
                <td>{% if mntInsumo.registroSchema %} {{ mntInsumo.registroSchema|date('Y-m-d H:i:s') }} {% endif %}</td>
            </tr>
            <tr>
                <th>Validado: </th>
                <td>{% if mntInsumo.estadoSchema == -1 %}Denegado{% elseif mntInsumo.estadoSchema == 1 %}Si{% elseif mntInsumo.estadoSchema == 0 %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Habilitado: </th>
                <td>{% if mntInsumo.enableSchema == -1 %}Denegado{% elseif mntInsumo.enableSchema == 1 %}Si{% elseif mntInsumo.enableSchema == 0 %}No{% endif %}</td>
            </tr>
            </table>

            

                                </div>
                            </div>
                        </div>
    
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('homepage') }}"><button class="btn btn-warning">Regresar a listado</button></a>
{% if app.user and app.user.id == mntInsumo.userIdSchema %}
	<a href="{{ path('productos_edit', { 'id': mntInsumo.id }) }}"><button class="btn btn-primary">Editar</button></a>
{% elseif mntInsumo.grupo in app.session.get('valida') or is_granted('ROLE_UNABAST') %}
	<a href="{{ path('productos_edit', { 'id': mntInsumo.id }) }}"><button class="btn btn-primary">Actualizar estado</button></a>
{% elseif medicamento and is_granted('ROLE_MEDICAMENTO') %}
	<a href="{{ path('productos_edit', { 'id': mntInsumo.id }) }}"><button class="btn btn-primary">Actualizar estado</button></a>
{% endif %}
{% endblock %}

{% block js_head %}
<script src="{{ asset('assets/') }}js/barcode/JsBarcode.all.min.js"></script>
{% endblock %}
