{% extends 'base.html.twig' %}
{% block titulo %}Producto [ <b>{{ mntInsumo.nombreLargoInsumo }}</b> ]{% endblock %}
{% block body %}
<div class="row">
 <div class="col-sm-6">
  <div class="white-box">

<div class="panel panel-info block4">
                            <div class="panel-heading"> Informacion general
                                <div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="javascript:void(0)" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
                            </div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
    <table>
        <tbody>
            <tr>
                <th>Codigonuinsumo</th>
                <td>{{ mntInsumo.codigoNuInsumo }}</td>
            </tr>
            <tr>
                <th>Codigominsalinsumo</th>
                <td>{{ mntInsumo.codigoMinsalInsumo }}</td>
            </tr>
            <tr>
                <th>Listadooficial</th>
                <td>{% if mntInsumo.listadoOficial %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Especificaciontecnicainsumo</th>
                <td>{{ mntInsumo.especificacionTecnicaInsumo }}</td>
            </tr>
            <tr>
                <th>Veninsumo</th>
                <td>{{ mntInsumo.venInsumo }}</td>
            </tr>
            <tr>
                <th>Precioreferenciainsumo</th>
                <td>{{ mntInsumo.precioReferenciaInsumo }}</td>
            </tr>
            <tr>
                <th>Procesadoinsumo</th>
                <td>{% if mntInsumo.procesadoInsumo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Posologiainsumo</th>
                <td>{{ mntInsumo.posologiaInsumo }}</td>
            </tr>
            <tr>
                <th>Nombregenericoinsumo</th>
                <td>{{ mntInsumo.nombreGenericoInsumo }}</td>
            </tr>
            <tr>
                <th>Descripcioninsumo</th>
                <td>{{ mntInsumo.descripcionInsumo }}</td>
            </tr>
        </tbody>
    </table>
                                </div>
                            </div>
                        </div>
 
  </div>
 </div>
 
 <div class="col-sm-6">
  <div class="col-sm-12">
   <div class="panel panel-primary block6">
    <div class="panel-heading"> Especificaciones técnicas<div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="javascript:void(0)" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
    </div>
                            <div class="panel-wrapper collapse in" aria-expanded="true" style="">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                                </div>
                            </div>
                        </div>
    </div>
	<div class="col-sm-12">
    <div class="panel panel-success block5" style="position: static;">
                            <div class="panel-heading"> Control de cambios
                                <div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="javascript:void(0)" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
                            </div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
                                            <tr>
                <th>Producto creado el: </th>
                <td>{% if mntInsumo.registroSchema %}{{ mntInsumo.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
                        <tr>
                <th>Validado: </th>
                <td>{{ mntInsumo.estadoSchema }}</td>
            </tr>
            <tr>
                <th>Habilitado: </th>
                <td>{% if mntInsumo.enableSchema == -1 %}Denegado{% elseif mntInsumo.enableSchema == 1 %}Si{% elseif mntInsumo.enableSchema == 0 %}No{% endif %}</td>
            </tr>

            

                                </div>
                            </div>
                        </div>
    
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('homepage') }}"><button class="btn btn-warning">Regresar a listado</button></a>
<a href="path('productos_edit', { 'id': mntInsumo.id }) }}"><button class="btn btn-primary">Editar</button></a>
{% endblock %}
