{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}{{ ctlCanton.nombre }}{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ ctlCanton.nombre }}</td>
            </tr>
            <tr>
                <th>Codigodigestyc</th>
                <td>{{ ctlCanton.codigoDigestyc }}</td>
            </tr>
            <tr>
                <th>Rural</th>
                <td>{% if ctlCanton.rural %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Digestyc2015</th>
                <td>{{ ctlCanton.digestyc2015 }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if ctlCanton.activo %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('canton_index') }}" class="btn">Regresar a listado</a>
    <a href="{{ path('canton_edit', { 'id': ctlCanton.id }) }}" class="btn btn-primary">Editar</a>
{% endblock %}
