{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctltipouso</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlTipoUso.id }}</td>
            </tr>
            <tr>
                <th>Nombretipouso</th>
                <td>{{ ctlTipoUso.nombreTipoUso }}</td>
            </tr>
            <tr>
                <th>Detalletipouso</th>
                <td>{{ ctlTipoUso.detalleTipoUso }}</td>
            </tr>
            <tr>
                <th>Registroschema</th>
                <td>{% if ctlTipoUso.registroSchema %}{{ ctlTipoUso.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Detalleschema</th>
                <td>{{ ctlTipoUso.detalleSchema }}</td>
            </tr>
            <tr>
                <th>Useridschema</th>
                <td>{{ ctlTipoUso.userIdSchema }}</td>
            </tr>
            <tr>
                <th>Useripschema</th>
                <td>{{ ctlTipoUso.userIpSchema }}</td>
            </tr>
            <tr>
                <th>Estadoschema</th>
                <td>{{ ctlTipoUso.estadoSchema }}</td>
            </tr>
            <tr>
                <th>Enableschema</th>
                <td>{{ ctlTipoUso.enableSchema }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipouso_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipouso_edit', { 'id': ctlTipoUso.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
