{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlinsumos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigonu</th>
                <th>Codigosinab</th>
                <th>Codificacioninsumo</th>
                <th>Codigosinabext</th>
                <th>Listadooficial</th>
                <th>Nombrelargoinsumo</th>
                <th>Registroschema</th>
                <th>Detalleschema</th>
                <th>Useridschema</th>
                <th>Ipuserschema</th>
                <th>Estadoschema</th>
                <th>Enableschema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlInsumo in ctlInsumos %}
            <tr>
                <td><a href="{{ path('insumo_show', { 'id': ctlInsumo.id }) }}">{{ ctlInsumo.id }}</a></td>
                <td>{{ ctlInsumo.codigoNu }}</td>
                <td>{{ ctlInsumo.codigoSinab }}</td>
                <td>{{ ctlInsumo.codificacionInsumo }}</td>
                <td>{{ ctlInsumo.codigoSinabExt }}</td>
                <td>{% if ctlInsumo.listadoOficial %}Yes{% else %}No{% endif %}</td>
                <td>{{ ctlInsumo.nombreLargoInsumo }}</td>
                <td>{% if ctlInsumo.registroSchema %}{{ ctlInsumo.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlInsumo.detalleSchema }}</td>
                <td>{{ ctlInsumo.userIdSchema }}</td>
                <td>{{ ctlInsumo.ipUserSchema }}</td>
                <td>{{ ctlInsumo.estadoSchema }}</td>
                <td>{{ ctlInsumo.enableSchema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('insumo_show', { 'id': ctlInsumo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('insumo_edit', { 'id': ctlInsumo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('insumo_new') }}">Create a new ctlInsumo</a>
        </li>
    </ul>
{% endblock %}
