{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<div class="row-fluid">
 <div class="span12">
  <div class="widget-box">
   <div class="widget-header widget-header-flat"><h4>Agregar {{ app.session.get('suministro') | raw }}</h4></div>
   <div class="widget-body">
    <div class="widget-main">
     <div class="row-fluid">
         {{ form_start(form) }}
          <div class="control-group ">{{ form_label(form.nombreLargoInsumo) }}
           <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(form.nombreLargoInsumo) }}</span>{{ form_errors(form.nombreLargoInsumo) }}</div>
          </div>
          <div class="control-group ">{{ form_label(form.ctlUnidadMedidaid) }}
           <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(form.ctlUnidadMedidaid) }}</span>{{ form_errors(form.ctlUnidadMedidaid) }}</div>
          </div>
          <div class="control-group ">{{ form_label(form.ctlProductoid) }}
           <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(form.ctlProductoid) }}</span>{{ form_errors(form.ctlProductoid) }}</div>
          </div>

          <div class="control-group ">{{ form_label(form.ctlNivelUsoid) }}
           <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(form.ctlNivelUsoid) }}</span>{{ form_errors(form.ctlNivelUsoid) }}</div>
          </div>
          <div class="control-group ">{{ form_label(form.ctlPresentacionid) }}
           <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(form.ctlPresentacionid) }}</span>{{ form_errors(form.ctlPresentacionid) }}</div>
          </div>
          <div class="control-group ">{{ form_label(form.grupoid) }}
           <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(form.grupoid) }}</span>{{ form_errors(form.grupoid) }}</div>
          </div>
          <div class="control-group ">{{ form_label(form.detalleSchema) }}
           <div class="controls"><span class="span12 input-icon input-icon-right">{{ form_widget(form.detalleSchema) }}</span>{{ form_errors(form.detalleSchema) }}</div>
          </div>
		  <input type="submit" value="Agregar insumo" class="btn btn-primary">
		  <input type="hidden" id="maestro_modelobundle_ctlinsumo__token" name="maestro_modelobundle_ctlinsumo[_token]" value="8f9x5e8gagSjHLPYarWd7yrxTca0MuVTePATOjF35qk" />
			<div id="divCheckbox" style="display: none;">{{ form_end(form) }}</div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<br />
<a href="{{ path('insumo_index') }}" class="btn">Regresar a listado principal</a>
{% endblock %}
