{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Catalogo de productos {% endblock %}
{% block body %}
<div class="row-fluid">
 <div class="span12">
  <div class="tabbable">
   <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-toggle="tab" href="#oficial"><i class="green icon-home bigger-110"></i>Listado Oficial </a></li>
    {% if accion == 'agrega' %}
	<li class=""><a data-toggle="tab" href="#validar">Pendientes de ser validados</a></li>
    <li class=""><a data-toggle="tab" href="#denegados"> Denegados <span class="badge badge-important">X</span></a></li>
    {% endif %}
    {% if accion == 'valida' %}
	<li class=""><a data-toggle="tab" href="#validar">Pendientes de ser validados</a></li>
    <li class=""><a data-toggle="tab" href="#habilitar">Pendientes de ser habilitados </a></li>
    <li class=""><a data-toggle="tab" href="#denegados"> Denegados <span class="badge badge-important">X</span></a></li>
    {% endif %}
    {% if accion == 'habilita' %}
    <li class=""><a data-toggle="tab" href="#habilitar">Pendientes de ser habilitados </a></li>
    <li class=""><a data-toggle="tab" href="#denegados"> Denegados <span class="badge badge-important">X</span></a></li>
    {% endif %}
   </ul>
  <div class="tab-content">
    {% if accion == 'habilita' or accion == 'valida' %}
   <!-- habilita --------------------------------------------------------------------------------------------------------->
   <div id="habilitar" class="tab-pane">
    <table id="sample-table1" class="table table-striped table-bordered table-hover">
     <thead>
            <tr>
                <th>Grupo</th>
                <th>Nombre</th>
                <th>Unidad de medida</th>
                <th>Nivel de uso</th>
                <th>Codificacion</th>
            </tr>
     </thead>
     <tbody>
        {% for p in procesar %}
            <tr>
                <td>{{ p.grupoid }}</td>
                <td><a href="{{ path('insumo_show', { 'id': p.id }) }}">{{ p.nombreLargoInsumo }}</a></td>
                <td>{{ p.ctlUnidadMedidaid }}</td>
                <td>{{ p.ctlNivelUsoid }}</td>
                <td>{{ p.codigoSinab }}</td>
            </tr>
        {% endfor %}
     </tbody>
    </table>
   </div>
   <!-- /habilita --------------------------------------------------------------------------------------------------------->
    {% endif %}
    {% if accion == 'agrega' %}
    	<a href="{{ path('insumo_new') }}" class="btn btn-primary">Solicitar Producto</a>
    {% endif %}
    {% if accion == 'agrega' or accion == 'valida' %}
   <!--  agrega o valida --------------------------------------------------------------------------------------------------------->
   <div id="validar" class="tab-pane">
    <table id="sample-table2" class="table table-striped table-bordered table-hover">
     <thead>
            <tr>
                <th>Grupo</th>
                <th>Nombre</th>
                <th>Unidad de medida</th>
                <th>Nivel de uso</th>
                <th>Codificacion</th>
            </tr>
     </thead>
     <tbody>
        {% for p in personal %}
            <tr>
                <td>{{ p.grupoid }}</td>
                <td><a href="{{ path('insumo_show', { 'id': p.id }) }}">{{ p.nombreLargoInsumo }}</a></td>
                <td>{{ p.ctlUnidadMedidaid }}</td>
                <td>{{ p.ctlNivelUsoid }}</td>
                <td>{{ p.codigoSinab }}</td>
            </tr>
        {% endfor %}
     </tbody>
    </table>
   </div>
   <!-- /agrega o valida --------------------------------------------------------------------------------------------------------->
    {% endif %}
   {% if accion  %}
   <div id="denegados" class="tab-pane">
    <table id="sample-table3" class="table table-striped table-bordered table-hover">
     <thead>
            <tr>
                <th># SINAB</th>
                <th>Nombre</th>
                <th>Unidad de medida</th>
                <th>Nivel de uso</th>
            </tr>
     </thead>
     <tbody>
        {% for ctlInsumo in denegados %}
            <tr>
                <td>{{ ctlInsumo.codigoSinab }}</td>
                <td>{{ ctlInsumo.nombreLargoInsumo }}</td>
                <td>{{ ctlInsumo.ctlUnidadMedidaid }}</td>
                <td>{{ ctlInsumo.ctlNivelUsoid }}</td>
            </tr>
        {% endfor %}
     </tbody>
    </table>
   </div>
   <!-- /accion por defecto --------------------------------------------------------------------------------------------------------->
   {% endif %}
   <div id="oficial" class="tab-pane active">
    <table id="sample-table4" class="table table-striped table-bordered table-hover">
     <thead>
            <tr>
                <th>Suministro</th>
                <th>Grupo</th>
                <th>Nombre</th>
                <th>Unidad de medida</th>
                <th>Nivel de uso</th>
                <th>Codificacion</th>
            </tr>
     </thead>
     <tbody>
        {% for ctlInsumo in ctlInsumos %}
            <tr>
                <td></td>
                <td>{{ ctlInsumo.grupoid }}</td>
                <td>{{ ctlInsumo.nombreLargoInsumo }}</td>
                <td>{{ ctlInsumo.ctlUnidadMedidaid }}</td>
                <td>{{ ctlInsumo.ctlNivelUsoid }}</td>
                <td>
                 <div>
                  <img id="barcode{{ctlInsumo.id}}"/>
                  <script>JsBarcode("#barcode{{ctlInsumo.id}}", "{{ ctlInsumo.codigoSinab }}", {  displayValue: true });</script>
                 </div>
                </td>
            </tr>
            </tr>
        {% endfor %}
     </tbody>
    </table>
   </div>
   {% if accion == 'habilita' %}
  {% endif %}
  </div>
 </div>
</div>

{% endblock %}

{% block footer_js %}<script type="text/javascript">$(function(){
   $('#sample-table1').dataTable();
   $('#sample-table2').dataTable();
   $('#sample-table3').dataTable();
   $('#sample-table4').dataTable();
 })
   </script>{% endblock %}

{% block head_js %}
  <script src="{{ asset('assets/') }}js/barcode/JsBarcode.all.js"></script>
  <script>
		Number.prototype.zeroPadding = function(){
			var ret = "" + this.valueOf();
			return ret.length == 1 ? "0" + ret : ret;
		};
  </script>
{% endblock %}
