{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Inusmo [{{ ctlInsumo.nombreLargoInsumo }}]{% endblock %}
{% block body %}    <table>
        <tbody>
            <tr>
                <th>Codigonu</th>
                <td>{{ ctlInsumo.codigoNu }}</td>
            </tr>
            <tr>
                <th>Codigosinab</th>
                <td>{{ ctlInsumo.codigoSinab }}</td>
            </tr>
            <tr>
                <th>Codificacioninsumo</th>
                <td>{{ ctlInsumo.codificacionInsumo }}</td>
            </tr>
            <tr>
                <th>Codigosinabext</th>
                <td>{{ ctlInsumo.codigoSinabExt }}</td>
            </tr>
            <tr>
                <th>Listadooficial</th>
                <td>{% if ctlInsumo.listadoOficial %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nombrelargoinsumo</th>
                <td>{{ ctlInsumo.nombreLargoInsumo }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_HABILITA') %}
		<a href="{{ path('insumo_edit', { 'id': ctlInsumo.id }) }}" class="btn btn-primary">Validar / Habilitar o comentar registro de insumo</a>
    {% elseif app.user and ctlInsumo.userIdSchema == app.user.id %}
		<a href="{{ path('insumo_edit', { 'id': ctlInsumo.id }) }}" class="btn btn-primary">Modificar registro de insumo</a>
	{% endif %}
		
    <br />
    <a href="{{ path('insumo_index') }}"  class="btn btn-grey">Regresar a la lista</a>
{% endblock %}
