{% extends 'base.html.twig' %}

{% block body %}
    <h1>Syslogs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Registrolog</th>
                <th>Descripcionlog</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for syslog in syslogs %}
            <tr>
                <td><a href="{{ path('syslog_show', { 'id': syslog.id }) }}">{{ syslog.id }}</a></td>
                <td>{% if syslog.registroLog %}{{ syslog.registroLog|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ syslog.descripcionLog }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('syslog_show', { 'id': syslog.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
