{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlacceso</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlAcceso.id }}</td>
            </tr>
            <tr>
                <th>Nombreacceso</th>
                <td>{{ ctlAcceso.nombreAcceso }}</td>
            </tr>
            <tr>
                <th>Pathacceso</th>
                <td>{{ ctlAcceso.pathAcceso }}</td>
            </tr>
            <tr>
                <th>Publicacceso</th>
                <td>{% if ctlAcceso.publicAcceso %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ordenacceso</th>
                <td>{{ ctlAcceso.ordenAcceso }}</td>
            </tr>
            <tr>
                <th>Visibleacceso</th>
                <td>{% if ctlAcceso.visibleAcceso %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acceso_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('acceso_edit', { 'id': ctlAcceso.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
