{% extends 'base.html.twig' %}
{% block titulo %}Catalogo de tipos de suministros{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
  <div class="table-responsive">
   <table id="tabla" class="display nowrap" cellspacing="0" width="100%">
    <thead>
     <tr><th>Tipo Suministro</th><th>Descripcion</th><th>Valida</th><th>Habilitado</th><th>Codificacion</th></tr>
    </thead>
    <tfoot>
     <tr><th>Tipo Suministro</th><th>Descripcion</th><th>Valida</th><th>Habilitado</th><th>Codificacion</th></tr>
    </tfoot>
    <tbody>
		{% for ctlSuministro in ctlSuministros %}
            <tr>
                <td><a href="{{ path('suministros_show', { 'id': ctlSuministro.id }) }}">{{ ctlSuministro.nombreSuministro }}</a></td>
                <td>{{ ctlSuministro.detalleSuministro }}</td>
                <td>{{ ctlSuministro.rolValidaSuministro }}</td>
                <td>{% if ctlSuministro.enableSchema == true %}Si{% else %}No{% endif %}</td>
                <td>{{ ctlSuministro.codificacionSuministro }}</td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
  </div>
 </div>
</div>
{% endblock %}
{% block breadcrumb %}<a href="{{ path('suministros_new') }}"><button class="btn btn-info">Agregar registro</button></a>{% endblock %}
{% block footer_js %}
{% endblock %}

