{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Catalogo de suministros{% endblock %}
{% block body %}
    <table id="sample-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre de Suministro</th>
                <th>Codificacion</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for ctlSuministro in ctlSuministros %}
            <tr>
                <td>{{ ctlSuministro.nombreSuministro }}</td>
                <td>{{ ctlSuministro.codificacionSuministro }}</td>
                <td>
                 <a href="{{ path('suministro_show', { 'id': ctlSuministro.id }) }}">Ver <i class="icon-show bigger-120"></i></a>
                 <a href="{{ path('suministro_edit', { 'id': ctlSuministro.id }) }}">Editar <i class="icon-edit bigger-120"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{{ path('suministro_new') }}" class="btn btn-primary">Registrar Suministro</a>
{% endblock %}
{% block footer_js %}<script type="text/javascript">$(function(){ var oTable2 = $('#sample-table').dataTable(); })</script>{% endblock %}
{% block head_js %}
  <script src="{{ asset('assets/') }}js/barcode/JsBarcode.all.js"></script>
  <script>
		Number.prototype.zeroPadding = function(){
			var ret = "" + this.valueOf();
			return ret.length == 1 ? "0" + ret : ret;
		};
  </script>
{% endblock %}
