{% extends 'base.html.twig' %}
{% block titulo %}Catalogo de tipos de suministros{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
  <div class="table-responsive">
   <table id="tabla" class="display nowrap" cellspacing="0" width="100%">
    <thead>
     <tr><th>Tipo Suministro</th><th>Descripcion</th><th>Solicita</th><th>Valida</th><th>Habilitado</th><th>Codificacion</th></tr>
    </thead>
    <tfoot>
     <tr><th>Tipo Suministro</th><th>Descripcion</th><th>Solicita</th><th>Valida</th><th>Habilitado</th><th>Codificacion</th></tr>
    </tfoot>
    <tbody>
		{% for ctlSuministro in ctlSuministros %}
            <tr>
                <td><a href="{{ path('suministros_show', { 'id': ctlSuministro.id }) }}">{{ ctlSuministro.nombreSuministro }}</a></td>
                <td>{{ ctlSuministro.detalleSuministro }}</td>
                <td>{{ ctlSuministro.rolSolicitaSuministro }}</td>
                <td>{{ ctlSuministro.rolValidaSuministro }}</td>
                <td>{% if ctlSuministro.enableSchema == true %}Si{% else %}No{% endif %}</td>
                <td>{{ ctlSuministro.codificacionSuministro }}</td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
  </div>
 </div>
</div>
{% endblock %}
{% block breadcrumb %}<a href="{{ path('suministros_new') }}"><button class="btn btn-info">Agregar registro</button></a>{% endblock %}
{% block footer_js %}
    <script src="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script>
    $('#tabla').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    </script>
{% endblock %}

{% block css_head %}
    <link href="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
