{% extends 'base.html.twig' %}
{% block titulo %}Suministro [ <b>{{ ctlSuministro.nombreSuministro }}</b> ]{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">

    <table>
        <tbody>
            <tr>
                <th>Nombre suministro</th>
                <td>{{ ctlSuministro.nombreSuministro }}</td>
            </tr>
            <tr>
                <th>Detalle suministro</th>
                <td>{{ ctlSuministro.detalleSuministro }}</td>
            </tr>
            <tr>
                <th>Registro</th>
                <td>{% if ctlSuministro.registroSchema %}{{ ctlSuministro.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Validado</th>
                <td>{% if ctlSuministro.estadoSchema %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{% if ctlSuministro.enableSchema %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Codificacionsuministro</th>
                <td>{{ ctlSuministro.codificacionSuministro }}</td>
            </tr>
        </tbody>
    </table>  
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('suministros_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
<a href="{{ path('suministros_edit', { 'id': ctlSuministro.id }) }}"><button class="btn btn-primary">Editar</button></a>
{% endblock %}
