{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Servicio {{ ctlServicio.nombreServicio }}{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombre del servicio</th>
                <td>{{ ctlServicio.nombreServicio }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('servicio_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('servicio_edit', { 'id': ctlServicio.id }) }}" class="btn btn-primary">Editar</a>
{{ form_start(delete_form) }}<input type="submit" value="Eliminar servicio" class="btn btn-xs btn-danger" />{{ form_end(delete_form) }}
{% endblock %}
