{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlcodificacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlCodificacion.id }}</td>
            </tr>
            <tr>
                <th>Nombrecodificacion</th>
                <td>{{ ctlCodificacion.nombreCodificacion }}</td>
            </tr>
            <tr>
                <th>Metodocodificacion</th>
                <td>{{ ctlCodificacion.metodoCodificacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('codificacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('codificacion_edit', { 'id': ctlCodificacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
