{% extends 'base.html.twig' %}
{% block titulo %}Catalogo de grupos y sub grupos{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">
  <div class="table-responsive">
   <table id="tabla" class="display nowrap" cellspacing="0" width="100%">
    <thead>
     <tr><th>Suministro</th><th>Nombre grupo</th><th>Sub Grupo</th><th>Detalle grupo</th><th>Registro</th><th>Codigo</th><th>Solicitantes</th><th>Unidades que contiene</th><th>Activo</th></tr>
    </thead>
    <tfoot>
     <tr><th>Suministro</th><th>Nombre grupo</th><th>Sub Grupo</th><th>Detalle grupo</th><th>Registro</th><th>Codigo</th><th>Solicitantes</th><th>Unidades que contiene</th><th>Activo</th></tr>
    </tfoot>
    <tbody>
		{% for ctlGrupo in ctlGrupos %}
            <tr>
                <td>{{ ctlGrupo.suministro }}</td>
                <td>{{ ctlGrupo.grupo }}</td>
                <td><a href="{{ path('grupos_show', { 'id': ctlGrupo.id }) }}">{{ ctlGrupo.nombreGrupo }}</a></td>
                <td>{{ ctlGrupo.detalleGrupo }}</td>
                <td>{% if ctlGrupo.registroSchema %}{{ ctlGrupo.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ctlGrupo.codigoGrupo }}</td>
                <td>{{ ctlGrupo.roles |join('| ') }}</td>
                <td>{{ ctlGrupo.unidad |join('| ') }}</td>
                <td>{% if ctlGrupo.enableSchema == true %}Si{% else %}No{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
   </table>
  </div>
 </div>
</div>
{% endblock %}
{% block breadcrumb %}<a href="{{ path('grupos_new') }}"><button class="btn btn-info">Agregar registro</button></a>{% endblock %}
{% block footer_js %}
{% endblock %}
