{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Grupo: {{ ctlGrupo.nombreGrupo }}{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombregrupo</th>
                <td>{{ ctlGrupo.nombreGrupo }}</td>
            </tr>
            <tr>
                <th>Grupo Superior</th>
                <td>{{ ctlGrupo.grupoId }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('grupo_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('grupo_edit', { 'id': ctlGrupo.id }) }}" class="btn btn-primary">Editar</a>
{% endblock %}
