{% extends 'base.html.twig' %}
{% block titulo %}Grupo [ <b>{{ ctlGrupo.nombreGrupo }}</b> ]{% endblock %}
{% block body %}
<div class="col-sm-12">
 <div class="white-box">

    <table>
        <tbody>
            <tr>
                <th>Nombre grupo</th>
                <td>{{ ctlGrupo.nombreGrupo }}</td>
            </tr>
            <tr>
                <th>Detalle grupo</th>
                <td>{{ ctlGrupo.detalleGrupo }}</td>
            </tr>
            <tr>
                <th>Registro</th>
                <td>{% if ctlGrupo.registroSchema %}{{ ctlGrupo.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Habilitado</th>
                <td>{% if ctlGrupo.enableSchema %}Si{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Codificacion</th>
                <td>{{ ctlGrupo.codigoGrupo }}</td>
            </tr>
        </tbody>
    </table>  
 </div>
</div>
{% endblock %}
{% block breadcrumb %}
<a href="{{ path('grupos_index') }}"><button class="btn btn-warning">Regresar a listado</button></a>
<a href="{{ path('grupos_edit', { 'id': ctlGrupo.id }) }}"><button class="btn btn-primary">Editar</button></a>
{% endblock %}
