{% extends 'MaestroCoreBundle::default.html.twig' %}
{% block title %}Medicamento alternativo{% endblock %}
{% block body %}
    <table>
        <tbody>

            <tr>
                <th>Medicamento primario</th>
                <td>{{ ctlAlternativo.ctlInsumo }}</td>
            </tr>
            <tr>
                <th>Medicamento Alternativo</th>
                <td>{{ ctlAlternativo.ctlInsumoAlternativo }}</td>
            </tr>
            <tr>
                <th>Multiploalternativo</th>
                <td>{{ ctlAlternativo.multiploAlternativo }}</td>
            </tr>
        </tbody>
    </table>
    
<a href="{{ path('alternativo_index') }}" class="btn">Regresar a listado</a>
<a href="{{ path('alternativo_edit', { 'id': ctlAlternativo.id }) }}" class="btn btn-primary">Editar</a>
{% endblock %}
